@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@keyframes slide-in-from-bottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes slide-out-to-bottom {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes slide-in-from-top {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}}

@keyframes slide-out-to-top {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}