main#four-oh-four {

	div.container {

		position: relative;
		display: flex;

		min-height: 100vh;

		align-items: center;

		img#app {

			position: relative;
			display: block;

			width: 200px;
			height: 200px;

			margin: 0 0 2rem 0;
		}

		h1 {
			font-weight: 400;
			text-transform: lowercase;
		}

			p {
				font-weight: 200;
				text-transform: lowercase;

				strong {
					font-weight: 500;
					text-transform: none;
				}

				&#shimmer {
					display: inline-block;
					color: white;
					content: "hello";

					width: 100%;
					height: 50px;

					color: rgba(255,255,255,0.4);
					background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
					background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
					background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
					-webkit-background-size: 50px 100%;
					-moz-background-size: 50px 100%;
					background-size: 50px 100%;
					-webkit-background-clip: text;
					-moz-background-clip: text;
					background-clip: text;
					-webkit-animation-name: shimmer;
					-moz-animation-name: shimmer;
					animation-name: shimmer;
					-webkit-animation-duration: 2s;
					-moz-animation-duration: 2s;
					animation-duration: 2s;
					-webkit-animation-iteration-count: infinite;
					-moz-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
					background-repeat: no-repeat;
					background-position: 0 -25px;
					background-color: #222;

					a {
						color: rgba(255,255,255,0.4);
						text-decoration: none;
					}

				}
			}


	}

}