main#four-oh-four {

	header#title {

		div.container > .row {

			min-height: 100vh;

			div#title {

				text-align: center;
				align-items: center;
				justify-content: center;

				p:first-of-type {
					margin-top: 14px;
				}

				a {
					text-decoration: underline;
				}

			}

		}


	}

}