div#page-conservative,
div#page-ulsterunionist {
	background: $blue;

	h1 { color: $body-color; }
}

div#page-labour,
div#page-dup {
	background: $red;

	h1 { color: $body-color; }
}

div#page-libdem {
	background: $orange;

	h1, p.total-members { color: $body-color-inverse !important; }
}

div#page-snp,
div#page-alliance {
	background: $yellow;

	h1, p.total-members { color: $body-color-inverse !important; }
}

div#page-green,
div#page-sinnfein,
div#page-plaid,
div#page-sdlp {
	background: $green;

	h1 { color: $body-color; }
}

div#page-ukip {
	background: $purple;

	h1 { color: $body-color; }
}

div#page-independent {
	background: $white;

	h1, p.total-members { color: $body-color-inverse !important; }
}

