<meta property="og:url" 				content="{{ absolute_url | append: page.url | replace: 'index.html','' }}">

<meta property="og:type" 			content="{% if page.layout == 'post' %}article{% else %}website{% endif %}" />

<meta property="og:title" 			content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">

{% if page.layout == 'photos/photo' %}
<meta property="og:image" 			content="{{ absolute_url | append: site.post-images-path | append: '/' | append: page.image }}">
{% else %}
<meta property="og:image" 			content="{% if page.image %}{{ page.image }}{% else %}{{ absolute_url | append: site.social-media-image }}{% endif %}">
{% endif %}

<meta property="og:image:width" 		content="1200">

<meta property="og:image:height" 	content="630">

<meta property="og:rich_attachment" content="true" />

<meta property="og:description" 		content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description  | strip_html | strip_newlines | truncate: 160 }}{% endif %}">

<meta property="og:site_name" 		content="John Peart">

<meta property="og:locale" 			content="en_GB">

<meta property="article:author" 		content="John Peart" />

<meta property="article:publisher" 	content="John Peart" />