{% if site.twitter-url %}<link rel="me" href="{{ site.twitter-url }}" type="text/html">{% endif %}
{% if site.linkedin-url %}<link rel="me" href="{{ site.linkedin-url }}" type="text/html">{% endif %}
{% if site.github-url %}<link rel="me" href="{{ site.github-url }}" type="text/html">{% endif %}
{% if site.flickr-url %}<link rel="me" href="{{ site.flickr-url }}" type="text/html">{% endif %}
{% if site.instagram-url %}<link rel="me" href="{{ site.instagram-url }}" type="text/html">{% endif %}
{% if site.mastodon-url %}<link rel="me" href="{{ site.mastodon-url }}" type="text/html">{% endif %}