<meta name="twitter:card" 			content="summary_large_image">

<meta name="twitter:site" 			content="{{ '@' | append: site.twitter-handle }}">

<meta name="twitter:creator" 		content="{{ '@' | append: site.twitter-handle }}">

<meta name="twitter:url" 			content="{{ absolute_url | append: page.url | replace: 'index.html','' }}">

<meta name="twitter:title" 			content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">

<meta name="twitter:description" 	content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description  | strip_html | strip_newlines | truncate: 160 }}{% endif %}">

{% if page.layout == 'photos/photo' %}
<meta name="twitter:image" 			content="{{ absolute_url | append: site.post-images-path | append: '/' | append: page.image }}">
{% else %}
<meta name="twitter:image" 			content="{% if page.image %}{{ page.image }}{% else %}{{ absolute_url | append: site.social-media-image }}{% endif %}">
{% endif %}
<meta name="twitter:image:alt" 		content="{% if page.image-alt %}{{ page.image-alt | strip_html }}{% else %}{{ page.title }}{% endif %}">