<footer>

    <div class="container">

        <p class="footer--heading"><strong>LGBT+ Members<br>of Parliament</strong></h1>

        <ul class="footer--navigation">
            <li><a href="{{ relative_url | append: '/historic' }}">Previous parliaments</a></li>
            <li><a href="{{ relative_url | append: '/change-log' }}">Change log</a></li>
            <li><a href="https://github.com/johnpeart/lgbt-mp/blob/main/_data/members.csv">CSV data</a></li>
            <li><a href="https://github.com/johnpeart/lgbt-mp">Github</a></li>
        </ul>

        <ul class="footer--other">
            <li><a href="{{ relative_url | append: '/about' }}">About this site</a></li>
            <li><a href="{{ relative_url | append: '/contact' }}">Contact</a></li>
            <li><a href="{{ relative_url | append: '/licenses-and-attribution' }}">Licenses and attribution</a></li>
        </ul>

    </div>

</footer>