.container {
	
	display: 			block;
	position: 			relative;
	
	padding-left: 		$container-padding;
	padding-right: 		$container-padding;
	padding-top: 		0;
	padding-bottom: 	0;
	
	width: 100%;
		
	margin-left: auto;
	margin-right: auto;
		
	@include toggleSizes(max-width, 100%, $container-sm, $container-md, $container-lg, $container-xl);

}
