.container {

    display: 			block;
    position: 			relative;

    padding-left: 		$container-padding;
    padding-right: 		$container-padding;

    width: 100%;

    margin-left: auto;
    margin-right: auto;

    @include toggleSizes(max-width,
        100%,
        map-get($containers, "sm"),
        map-get($containers, "md"),
        map-get($containers, "lg"),
        map-get($containers, "xl")
    );

}
