@font-face {
	font-family: 'JP';
	
	font-weight: normal;
	font-style: normal;
	
	src: 	url('../fonts/regular.eot');
	src: 	url('../fonts/regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/regular.woff2') format('woff2'),
			url('../fonts/regular.woff') format('woff');
	
	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;
				 
	font-display: fallback;
}

@font-face {
	font-family: 'JP';
	
	font-weight: normal;
	font-style: italic;
	
	src: 	url('../fonts/italic.eot');
	src: 	url('../fonts/italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/italic.woff2') format('woff2'),
			url('../fonts/italic.woff') format('woff');
	
	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;
		
	font-display: fallback;
}
 
@font-face {
	font-family: 'JP';
	
	font-weight: bold;
	font-style: normal;
	
	src: 	url('../fonts/bold.eot');
	src: 	url('../fonts/bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/bold.woff2') format('woff2'),
			url('../fonts/bold.woff') format('woff');
	
	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;
		
	font-display: fallback;
}
 
@font-face {
	font-family: 'JP';
	
	font-weight: bold;
	font-style: italic;
	
	src: 	url('../fonts/bolditalic.eot');
	src: 	url('../fonts/bolditalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/bolditalic.woff2') format('woff2'),
			url('../fonts/bolditalic.woff') format('woff');
	
	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;
		
	font-display: fallback;
}