footer {

    min-height: 20vh;

    @include toggleSizes(padding-top, ($container-padding * 2), ($container-padding * 2), ($container-padding * 3), ($container-padding * 3), ($container-padding * 3));
    @include toggleSizes(padding-bottom, ($container-padding * 3), ($container-padding * 3), ($container-padding * 4), ($container-padding * 4), ($container-padding * 6));

    background: map-get($colors, "grey-3");

    ul {
        list-style: none;
    }

}

footer > div.container {

    display: grid;

    @include toggleSizes(grid-template-columns,
        1fr,
        1fr,
        1fr 1fr,
        1fr 1fr 1fr,
        1fr 1fr 1fr
    );
    @include toggleSizes(grid-template-rows,
        auto auto auto,
        auto auto auto,
        auto auto,
        auto,
        auto
    );
    @include toggleSizes(grid-template-areas,
        "heading" "navigation" "other",
        "heading" "navigation" "other",
        "heading navigation" "heading other",
        "heading navigation other",
        "heading navigation other"
    );

    row-gap: $container-padding;
    column-gap: $container-padding;

    p.footer--heading {
        @each $style, $sizes in $lead {
            @include toggleSizes($style, map-get($sizes, "xs"),  map-get($sizes, "sm"),  map-get($sizes, "md"),  map-get($sizes, "lg"),  map-get($sizes, "xl"));
        }
    }
    .footer--navigation {
        grid-area: navigation;
    }
    .footer--other {
        grid-area: other;
    }
    .footer--colophon {
        grid-area: colophon;
        padding-top: $container-padding * 2;
    }

}