header#site-navigation {

    display: flex;
    position: relative;

    align-items: center;

    padding: ($container-padding * 3) ($container-padding * 2);

    background: map-get($colors, "deep-purple");
    color: map-get($colors, "westminster-white");

    @include toggleSizes(
        padding,
        ($container-padding * 3) ($container-padding * 2),
        ($container-padding * 3) ($container-padding * 2),
        ($container-padding * 3) ($container-padding * 1),
        ($container-padding * 3) ($container-padding * 2),
        ($container-padding * 3) ($container-padding * 2)
    );
    @include toggleSizes(height, 100vh, auto, 100vh, 100vh, 100vh);
    @include toggleSizes(width, 100vw, 100vw, 30vw, 27.5vw, 25vw);

}

nav#header-menu {

    text-align: center;

}

header#site-navigation a#home-link {

    display: inline-block;
    @include clearfix;

    &:link {
        color: map-get($colors, "westminster-white");
    }
    &:visited {
        color: map-get($colors, "westminster-white");
    }
    &:hover span[class^="wordmark-line-"] {
        text-decoration: 	underline;
    }
    &:focus {
        color: map-get($colors, "deep-purple") !important;
        outline: 5px solid map-get($colors, "mint");
    }
    &:active {
        background: map-get($colors, "mint");
        outline: 5px solid map-get($colors, "mint");
    }
    &:focus span[class^="line-"] {
        color: map-get($colors, "deep-purple") !important;
    }
    &:active span[class^="line-"] {
        text-decoration: 	none;
        color: map-get($colors, "deep-purple") !important;
    }


}

header#site-navigation img#banner-icon {

    @each $style, $sizes in $wordmark {
        @if $style == "line-height" {
            @include toggleSizes(height, map-get($sizes, "xs") * 2 + 10,  map-get($sizes, "sm") * 2 + 10,  map-get($sizes, "md") * 2 + 10,  map-get($sizes, "lg") * 2 + 10,  map-get($sizes, "xl") * 2 + 10);
        };
    }
    width: auto;

    margin-right: $container-padding * 1.5;

    float: left;
    clear: left;

}

a#home-link span.wordmark {

    display: block;
    @each $style, $sizes in $wordmark {
        @include toggleSizes($style, map-get($sizes, "xs"),  map-get($sizes, "sm"),  map-get($sizes, "md"),  map-get($sizes, "lg"),  map-get($sizes, "xl"));
    }

    padding: 10pt 0 0 0;
    float: left;

    @include clearfix;
}

a#home-link span[class^="wordmark-line-"] {
    display: block;
    clear: both;
    float: left;
}