header#site-navigation {

    padding-top: $container-padding * 2;
    padding-bottom: $container-padding * 2;

    background: map-get($colors, "deep-purple");
    color: map-get($colors, "westminster-white");

    @include supports-sticky() {
        top: 0;
    }

}

header#site-navigation a#home-link {

    display: inline-block;
    @include clearfix;

    &:link span[class^="line-"] {
        color: map-get($colors, "westminster-white");
    }
    &:visited span[class^="line-"] {
        color: map-get($colors, "westminster-white");
    }
    &:hover span[class^="line-"] {
        text-decoration: 	underline;
    }
    &:focus {

    }
    &:focus span[class^="line-"] {
        color: map-get($colors, "deep-purple");
    }
    &:active span[class^="line-"] {
        text-decoration: 	none;
    }


}

header#site-navigation img#banner-icon {

    @each $style, $sizes in $wordmark {
        @if $style == "line-height" {
            @include toggleSizes(height, map-get($sizes, "xs") * 2 + 10,  map-get($sizes, "sm") * 2 + 10,  map-get($sizes, "md") * 2 + 10,  map-get($sizes, "lg") * 2 + 10,  map-get($sizes, "xl") * 2 + 10);
        };
    }
    width: auto;

    margin-right: $container-padding * 1.5;

    float: left;
    clear: left;

}

a#home-link span.wordmark {

    display: block;
    @each $style, $sizes in $wordmark {
        @include toggleSizes($style, map-get($sizes, "xs"),  map-get($sizes, "sm"),  map-get($sizes, "md"),  map-get($sizes, "lg"),  map-get($sizes, "xl"));
    }

    float: left;

    @include clearfix;
}

a#home-link span[class^="line-"] {
    display: block;
    clear: both;
    float: left;
}