p > img {
	display: block;
	position: relative;
	
	@include toggleSizes(width, 100%, 100%, ($md - 66px), ($lg - 50px), ($xl - 100px));
	@include toggleSizes(max-width, 100%, 100%, unset, unset, unset);
	@include toggleSizes(margin-top, ($font-size--p--xs * 0.5), ($font-size--p--sm * 0.5), 0, 0, 0);
	@include toggleSizes(margin-left, 0, 0, -65px, -90px, -115px);
	@include toggleSizes(margin-right, 0, 0, -65px, -90px, -115px);
	@include toggleSizes(left, 0, 0, 0, 0, 0);
	@include toggleSizes(right, 0, 0, 0, 0, 0);
}

figure.image {
	
	box-sizing: 	content-box;
	
	@include toggleDarkMode(background, $gray-200, $gray-700);
	@include toggleDarkMode(color, $body-color, $body-color-dark);
	@include toggleDarkMode(outline, 20px solid $gray-200, 20px solid $gray-700);
	
	@include toggleSizes(margin, $font-size--p--xs 0 ($font-size--p--xs * 2) 0, $font-size--p--sm 0 ($font-size--p--sm * 2) 0, $font-size--p--md 0 ($font-size--p--md * 2) 0, $font-size--p--lg 0 ($font-size--p--lg * 2) 0, $font-size--p--xl 0 ($font-size--p--xl * 2) 0);
	
	img {
		width: 100%;
		max-width: 100%;		
		
		@include toggleSizes(margin-bottom, ($font-size--p--xs * 0.5), ($font-size--p--sm * 0.5), ($font-size--p--md * 0.5), ($font-size--p--lg * 0.5), ($font-size--p--xl * 0.5));

	}
	
	figcaption {
		@include toggleSizes(font-size, ($font-size--p--xs * 0.8), ($font-size--p--sm * 0.8), ($font-size--p--md * 0.8), ($font-size--p--lg * 0.8), ($font-size--p--xl * 0.8));
		@include toggleSizes(line-height, $line-height--p--xs, $line-height--p--sm, $line-height--p--md, $line-height--p--lg, $line-height--p--xl);
		padding-bottom: 0;
	}
	
}