body.theme-eurovision {
	details {
		
	}
	
	summary {

		span.country,
		span.song-artist {
			display: block;
			width: 100%;
		}
		span.song-artist {
			font-weight: normal;
			@include toggleDarkMode(color, $gray-600, $gray-400);
		}
		
		&:hover,
		&:hover span {
			@include toggleDarkMode(color, $accordian-color--hover, $accordian-color--hover-dark);
		}
		&:focus,
		&:focus span {
			@include toggleDarkMode(color, $accordian-color--focus, $accordian-color--focus-dark);
		}
		&:active,
		&:active span {
			@include toggleDarkMode(color, $accordian-color--active, $accordian-color--active-dark);
		}
		
	}
}