<aside id="about-sheet" class="sheet">

	<div class="bg">

	</div>

	<div id="about-content" class="sheet-content">

		<h1>About</h1>

		<p><strong>Which MPs in the UK House of Commons define as LGBT?</strong></p>

		<p>When I tried to find out the answer in early 2017, Google, to my surprise, couldn’t answer that question for me when I tried to find out. So I did some research and compiled the list myself, using publicly available information, and then I made this website.</p>

		<p>The data collected shows Members of Parliament who are 'out' as lesbian, gay, bisexual, trans or with another minority sexual orientation or gender identity, and for which I can find a reliable source.</p>

		<p>I intend to keep it as up-to-date as possible. If you think this this dataset could be improved, the you can contribute on <a href="{{ 'https://github.com/johnpeart' | append: site.baseurl | append: '/tree/master/_data' }}" title="View the datasets on Github">Github</a>.</p>

		<hr>

		<p><strong>Created by <a href="{{ site.url }}" title="Visit my website">John Peart</a></strong></p>

		<!-- Twitter -->
	    <a href="{{ 'https://twitter.com/' | append: site.twitter-username }}" target="_blank" title="Follow me on Twitter" class="btn btn-block btn-primary">
			Twitter
	    </a>

		<!-- Github -->
	    <a href="{{ 'https://github.com/' | append: site.twitter-username }}" target="_blank" title="Find me on Github" class="btn btn-block btn-primary">
			Github
	    </a>

		<a id="btn-about-close" class="btn-close">Close menu</a>

	</div>

</aside>