<aside id="data-sheet" class="sheet">

	<div class="bg">

	</div>

	<div id="data-content" class="sheet-content">

		<h1>Data sources</h1>

		<p><strong>Where did all this data come from?</strong></p>

		<p><strong>Hover or tap on an MP's name to see where the source of this information comes from.</strong></p>

		<p>This information has been collated from internet searches and publicly available information.</p>

		<p>An MP is listed either when an MP has made a public statement about their sexual orientation or gender identity, or there is a reliable independent source such as the <a href="http://lgbtqrepresentationandrights.org/" target="_blank" title="LGBTQ Representation and Rights Research Initiative">LGBTQ Representation and Rights Research Initiative</a>. </p>

		<p>Most of this data has been collected from or verified against the following sources:</p>

	    <a href="http://www.independent.co.uk/news/uk/politics/gay-mps-the-photograph-that-shows-westminsters-attitude-towards-lgbt-politicians-is-changing-a6886771.html" target="_blank" title="The Independent" class="btn btn-block btn-primary">
			The Independent
	    </a>

	    <a href="http://lgbtqrepresentationandrights.org/" target="_blank" title="LGBTQ Representation and Rights Research Initiative" class="btn btn-block btn-primary">
			LGBTQ Rep and Rights Research Init
	    </a>

	    <a href="http://pinknews.co.uk/" target="_blank" title="Pink News" class="btn btn-block btn-primary">
			Pink News
	    </a>


		<a id="btn-data-close" class="btn-close">Close menu</a>

	</div>

</aside>