<footer>

	<div class="container">

		<div class="row text-center">

			<div class="col-xs-12 col-sm">

				<p><strong>Twitter</strong><br>
				<a href="http://twitter.com/johnpeart">@johnpeart</a></p>

			</div>
			<div class="col-xs-12 col-sm">

				<p><strong>Instagram</strong></strong><br>
				<a href="http://instagram.com/johnpeart">johnpeart</a></p>

			</div>
			<div class="col-xs-12 col-sm">

				<p><strong>LinkedIn</strong><br>
				<a href="http://uk.linkedin.com/in/jrpeart">jrpeart</a></p>

			</div>
			<div class="col-xs-12 col-sm">

				<p><strong>Github</strong><br>
				<a href="http://github.com/johnpeart">johnpeart</a></p>

			</div>

		</div>

		<div class="row text-center">

			<div class="col">

				<p>
					<a href="{{ site.url }}" title="Site created by John Peart. Visit home page.">
						<img  class="footer-brand" src="{{ '/site/footer.svg' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" alt="John Peart">
					</a>
				</p>

			</div>

		</div>

	</div>

</footer>