<footer>

    <div class="container">

        <p class="footer--heading"><strong>LGBT+ Members of Parliament</strong></h1>

        <ul class="footer--navigation">
            <li><a href="#">Previous parliaments</a></li>
            <li><a href="#">CSV data</a></li>
            <li><a href="#">Github</a></li>
        </ul>

        <ul class="footer--other">
            <li><a href="#">About this site</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <p class="footer--colophon"><strong>Something wrong or missing?</strong><br>If you see an error in this dataset, or you think someone is missing, email me or raise a pull request on Github.</p>

    </div>

</footer>