<header id="site-header">
	
	<nav role="navigation" class="container">
		<div class="header-align-left">
			<p class="header-wordmark"><a href="{{ site.url }}">John Peart</a></p>
		</div>
		
		<button id="header-menu-toggle" onclick="toggleMenu()">
				<span class="sr-only">Menu</span>
				&#9776;
		</button>
		
		<div id="header-menu-links" class="header-align-right">
			<ul class="header-menu">
				<li class="header-link"><a href="{{ site.url | append: site.baseurl | append: '/writing' }}">Writing</a></li>
				<li class="header-link"><a href="{{ site.url | append: site.baseurl | append: '/projects' }}">Projects</a></li>
				<!--li class="header-link"><a href="{{ site.url | append: site.baseurl | append: '/podcast' }}">Podcast</a></li>-->
				<li class="header-link"><a href="{{ site.url | append: site.baseurl | append: '/about' }}">About me</a></li>
			</ul>
		</div>
	</nav>
	
</header>