<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="{{ '/jquery.min.js' | prepend: site.js-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="{{ '/bootstrap.min.js' | prepend: site.js-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>

<!-- APP CODE -->
{% if page.layout == "app" %}
<script src="{{ '/app.js' | prepend: site.js-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>
{% endif %}

<!-- Google Analytics -->
<script src="{{ '/analytics.js' | prepend: site.js-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>
