<aside id="share-sheet" class="sheet">

	<div class="bg">

	</div>

	<div id="share-buttons" class="sheet-content">

		<h1>Share</h1>

		<p>If you like this, why not share it?</p>

	    <!-- Buffer -->
	    <a href="https://bufferapp.com/add?url={{ site.baseurl | prepend: site.url }}&amp;text=LGBT MP" target="_blank" class="btn btn-block btn-primary">
			Buffer
	    </a>

	    <!-- Email -->
	    <a href="mailto:?Subject=LGBT MP&amp;Body=I%20saw%20this%20and%20thought%20you%20might%20like%20it!%20 {{ site.baseurl | prepend: site.url }}" class="btn btn-block btn-primary">
			Email
	    </a>

	    <!-- Facebook -->
	    <a href="http://www.facebook.com/sharer.php?u={{ site.baseurl | prepend: site.url }}" target="_blank" class="btn btn-block btn-primary">
			Facebook
	    </a>

	    <!-- Google+ -->
	    <a href="https://plus.google.com/share?url={{ site.baseurl | prepend: site.url }}" target="_blank" class="btn btn-block btn-primary">
			Google+
	    </a>

	    <!-- LinkedIn -->
	    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.baseurl | prepend: site.url }}" target="_blank" class="btn btn-block btn-primary">
			LinkedIn
	    </a>

	    <!-- Pinterest -->
	    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" class="btn btn-block btn-primary">
			Pinterest
	    </a>

		<!-- Twitter -->
	    <a href="https://twitter.com/share?url={{ site.baseurl | prepend: site.url }}&amp;text=LGBT%20MP&amp;hashtags=lgbt" target="_blank" class="btn btn-block btn-primary">
			Twitter
	    </a>

		<a id="btn-share-close" class="btn-close">Close menu</a>

	</div>

</aside>