// Global styles

@at-root {
	@-ms-viewport { 
		width: device-width;
	} // stylelint-disable-line at-rule-no-vendor-prefix
}

*,
*::before,
*::after {
	
	box-sizing: border-box;

	font-family: 			$font-family-sans-serif;
	font-feature-settings:	$font-feature-settings;
	font-display:			swap;
	font-kerning: 			auto;
	letter-spacing: 			normal;

}

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

html,
body {
			
	margin: 				0;
	padding: 				0;
	
	background: 				$body-background;
	color: 					$body-color;

	box-sizing: 				border-box;
	
}