#data-alliance {
	background: 		$alliance;
	color: 			$black;
	
	@include dark-mode {
		background:	$alliance-dark-mode;
	}
}

#data-brexit {
	background: 		$brexit;
	color: 				$white;
	
	@include dark-mode {
		background:	$brexit-dark-mode;
	}
}

#data-change {
	background: 	$change;
	color: 			$black;
	
	@include dark-mode {
		background:	$change-dark-mode;
	}
}

#data-conservative {
	background: 		$conservative;
	color: 			$white;
	
	@include dark-mode {
		background:	$conservative-dark-mode;
	}
}

#data-dup {
	background: 		$dup;
	color: 			$white;
	
	@include dark-mode {
		background:	$dup-dark-mode;
	}
}

#data-green {
	background: 		$green-party;
	color: 			$white;
	
	@include dark-mode {
		background:	$green-party-dark-mode;
	}
}

#data-independent {
	background: 		$independent;
	color: 			$black;
	
	@include dark-mode {
		background:	$independent-dark-mode;
	}
}

#data-labour {
	background: 		$labour;
	color: 			$white;
	
	@include dark-mode {
		background:	$labour-dark-mode;
	}
}

#data-libdem {
	background: 		$libdem;
	color: 			$black;
	
	@include dark-mode {
		background:	$libdem-dark-mode;
	}
}

#data-libdem {
	background: 		$libdem;
	color: 			$black;
	
	@include dark-mode {
		background:	$libdem-dark-mode;
	}
}

#data-plaid {
	background: 		$plaid;
	color: 			$white;
	
	@include dark-mode {
		background:	$plaid-dark-mode;
	}
}

#data-sdlp {
	background: 		$sdlp;
	color: 			$white;
	
	@include dark-mode {
		background:	$sdlp-dark-mode;
	}
}

#data-sinnfein {
	background: 		$sinnfein;
	color: 			$white;
	
	@include dark-mode {
		background:	$sinnfein-dark-mode;
	}
}

#data-sdlp {
	background: 		$sdlp;
	color: 			$white;
	
	@include dark-mode {
		background:	$sdlp-dark-mode;
	}
}

#data-snp {
	background: 		$snp;
	color: 			$black;
	
	@include dark-mode {
		background:	$snp-dark-mode;
	}
}

#data-uup {
	background: 		$uup;
	color: 			$white;
	
	@include dark-mode {
		background:	$uup-dark-mode;
	}
}

#data-ukip {
	background: 		$ukip;
	color: 			$white;
	
	@include dark-mode {
		background:	$ukip-dark-mode;
	}
}

#data-speaker {
	background: 		$white;
	color: 			$black;
	
	@include dark-mode {
		background:	$speaker-dark-mode;
	}
}