// Typography

a {
	
	display: 				inline;
	
	color: 					$link-color;
	text-decoration: 		$link-text-decoration;
	text-decoration-skip: 	ink;
	text-decoration-skip-ink: auto;
	
	outline: 				$link-outline;
	font-weight: 			inherit;
		
	&:hover,
	&:focus {
		color: 					$link-hover-color;
		text-decoration: 		$link-text-decoration-hover;
		text-decoration-skip: 	ink;
		text-decoration-skip-ink: auto;
	}
	
}

h1 {
	
	@include xs {
		font-size: 		$h1-font-size-base-xs;
		line-height: 	$h1-line-height-base-xs;
		padding-top: 	$h1-padding-top-xs;
		padding-bottom: $h1-padding-bottom-xs;
	}
	@include sm {
		font-size: 		$h1-font-size-base-sm;
		line-height: 	$h1-line-height-base-sm;
		padding-top: 	$h1-padding-top-sm;
		padding-bottom: 	$h1-padding-bottom-sm;
	}
	@include md {
		font-size: 		$h1-font-size-base-md;
		line-height: 	$h1-line-height-base-md;
		padding-top: 	$h1-padding-top-md;
		padding-bottom: 	$h1-padding-bottom-md;
	}
	@include lg {
		font-size: 		$h1-font-size-base-lg;
		line-height: 	$h1-line-height-base-lg;
		padding-top: 	$h1-padding-top-lg;
		padding-bottom: 	$h1-padding-bottom-lg;
	}
	@include xl {
		font-size: 		$h1-font-size-base-xl;
		line-height: 	$h1-line-height-base-xl;
		padding-top: 	$h1-padding-top-xl;
		padding-bottom: 	$h1-padding-bottom-xl;
	}
	
	font-weight:			$h1-font-weight;
	
}

h2 {
	
	@include xs {
		font-size: 		$h2-font-size-base-xs;
		line-height: 	$h2-line-height-base-xs;
		padding-top: 	$h2-padding-top-xs;
		padding-bottom: 	$h2-padding-bottom-xs;
	}
	@include sm {
		font-size: 		$h2-font-size-base-sm;
		line-height: 	$h2-line-height-base-sm;
		padding-top: 		$h2-padding-top-sm;
		padding-bottom: 	$h2-padding-bottom-sm;
	}
	@include md {
		font-size: 		$h2-font-size-base-md;
		line-height: 	$h2-line-height-base-md;
		padding-top: 		$h2-padding-top-md;
		padding-bottom: 	$h2-padding-bottom-md;
	}
	@include lg {
		font-size: 		$h2-font-size-base-lg;
		line-height: 	$h2-line-height-base-lg;
		padding-top: 		$h2-padding-top-lg;
		padding-bottom: 	$h2-padding-bottom-lg;
	}
	@include xl {
		font-size: 		$h2-font-size-base-xl;
		line-height: 	$h2-line-height-base-xl;
		padding-top: 		$h2-padding-top-xl;
		padding-bottom: 	$h2-padding-bottom-xl;
	}
	
	font-weight:			$h2-font-weight;
	font-style: 			$h2-font-style;
	text-align: 			$h2-text-align;
	text-decoration: 	$h2-text-decoration;
	text-transform: 		$h2-text-transform;
	
}

p {
	
	font-size: 			$p-font-size-base;
	line-height: 		$p-line-height-base;
	padding-bottom: 		$p-padding-bottom;
	
	@include xs {
		font-size: 		$p-font-size-base-xs;
		line-height: 	$p-line-height-base-xs;
		padding-bottom: 	$p-padding-bottom-xs;
	}
	@include sm {
		font-size: 		$p-font-size-base-sm;
		line-height: 	$p-line-height-base-sm;
		padding-bottom: 	$p-padding-bottom-sm;
	}
	@include md {
		font-size: 		$p-font-size-base-md;
		line-height: 	$p-line-height-base-md;
		padding-bottom: 	$p-padding-bottom-md;
	}
	@include lg {
		font-size: 		$p-font-size-base-lg;
		line-height: 	$p-line-height-base-lg;
		padding-bottom: $p-padding-bottom-lg;
	}
	@include xl {
		font-size: 		$p-font-size-base-xl;
		line-height: 	$p-line-height-base-xl;
		padding-bottom: $p-padding-bottom-xl;
	}
	
	font-weight:			$p-font-weight;
	
}

button {
	
	@include xs {
		font-size: 		$p-font-size-base-xs;
		line-height: 	$p-line-height-base-xs;
	}
	@include sm {
		font-size: 		$p-font-size-base-sm;
		line-height: 	$p-line-height-base-sm;
	}
	@include md {
		font-size: 		$p-font-size-base-md;
		line-height: 	$p-line-height-base-md;
	}
	@include lg {
		font-size: 		$p-font-size-base-lg;
		line-height: 	$p-line-height-base-lg;
	}
	@include xl {
		font-size: 		$p-font-size-base-xl;
		line-height: 	$p-line-height-base-xl;
	}
	
	font-weight:			bold;
	
}

sup {
	font-feature-settings:		$sup-font-feature-settings;
    text-decoration: none;
    margin-left: 2px;
    
    a {
	    text-decoration: none;
	    
	    &:hover,
	    &:focus {
		    text-decoration: none;
	    }
    }
}
	
strong, b {
	font-weight: 	bold;
}

em, i {
	font-style: 	italic;
}

u {
	text-decoration: underline;
}

center {
	text-align: center;
}

li {
	
	font-size: 		$p-font-size-base;
	line-height: 	$p-line-height-base;
	
	@include xs {
		font-size: 		$p-font-size-base-xs;
		line-height: 	$p-line-height-base-xs;
	}
	@include sm {
		font-size: 		$p-font-size-base-sm;
		line-height: 	$p-line-height-base-sm;
	}
	@include md {
		font-size: 		$p-font-size-base-md;
		line-height: 	$p-line-height-base-md;
	}
	@include lg {
		font-size: 		$p-font-size-base-lg;
		line-height: 	$p-line-height-base-lg;
	}
	@include xl {
		font-size: 		$p-font-size-base-xl;
		line-height: 	$p-line-height-base-xl;
	}
	
	font-weight:		$p-font-weight;
	
}

ul {
		
	@include md-up {
		padding-left: 0;
	}
	
	@include xs {
		padding-top: 		0;
		padding-bottom: 	$p-font-size-base-xs;
	}
	
	@include sm {
		padding-top: 		0;
		padding-bottom: 	$p-font-size-base-sm;
	}
	
	@include md {
		padding-top: 		0;
		padding-bottom: 	$p-font-size-base-md;
	}
	
	@include lg {
		padding-top: 		0;
		padding-bottom: 	$p-font-size-base-lg;
	}
	
	@include xl {
		padding-top: 		0;
		padding-bottom: 	$p-font-size-base-xl;
	}
	
	list-style: none;

}
