// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

// stylelint-disable
$true-white:   	 					#ffffff !default;
$white:   	 						#fafafa !default;
$gray-100:	 						#f8f9fa !default;
$gray-200:	 						#e9ecef !default;
$gray-300:	 						#dee2e6 !default;
$gray-400:	 						#ced4da !default;
$gray-500: 	 						#adb5bd !default;
$gray-600: 	 						#868e96 !default;
$gray-700: 	 						#495057 !default;
$gray-800: 	 						#343a40 !default;
$gray-900: 	 						#212529 !default;
$black:    	 						#1d1d1d !default;
$true-black: 	 					#000000 !default;

$blue:								#005ea5;
$pink:								#d53880;
$green:								#006435;
$purple:								#912b88;
$red:								#b10e1e;
$yellow:								#ffbf47;
$orange:								#f47738;
$turquoise:							#28a197;
$silver: 							#dddddd;

// Party colours

$change:							$white;
$conservative:						$blue;
$dup:								$red;
$green-party:						$green;
$independent:						$true-white;
$labour:								$red;
$libdem:								$yellow;
$plaid:								$green;
$sdlp:								$green;
$sinnfein:							$green;
$snp:								$yellow;
$speaker:							$white;
$ukip:								$purple;
$uup:								$blue;

$change-dark-mode:					darken($change, 10%);
$conservative-dark-mode:				darken($conservative, 10%);
$dup-dark-mode:						darken($dup, 10%);
$green-party-dark-mode:				darken($green-party, 10%);
$independent-dark-mode:				darken($independent, 5%);
$labour-dark-mode:					darken($labour, 10%);
$libdem-dark-mode:					darken($libdem, 10%);
$plaid-dark-mode:					darken($plaid, 10%);
$sdlp-dark-mode:						darken($sdlp, 10%);
$sinnfein-dark-mode:					darken($sinnfein, 10%);
$snp-dark-mode:						darken($snp, 10%);
$speaker-dark-mode:					darken($speaker, 10%);
$ukip-dark-mode:						darken($ukip, 10%);
$uup-dark-mode:						darken($uup, 10%);

// Default colors

$body-background:					$black;
$body-color:							$black;

$body-background-dark-mode:			$black;
$body-color-dark-mode:				$white;

$skiplink-color:						$white;
$skiplink-background:				$black;

$link-color:							$black;
$link-hover-color:					$black;

$link-color-dark-mode:				$white;
$link-hover-color-dark-mode:			$white;

$link-font-weight:					normal;
$link-outline:						none;
$link-text-decoration:				none;
$link-text-decoration-hover:			underline;

$card-background-primary:			$white;
$card-background-secondary:			$gray-200;
$card-color:							$black;

$card-background-primary-dark-mode:	$gray-800;
$card-background-secondary-dark-mode:	$gray-900;
$card-color-dark-mode:				$white;

// DEFAULT TEXT SIZES & SPACING

$p-font-size-base:					14px;
$p-font-size-base-xs:				$p-font-size-base;
$p-font-size-base-sm:				14px;
$p-font-size-base-md:				16px;
$p-font-size-base-lg:				18px;
$p-font-size-base-xl:				18px;

$p-line-height-base:					$p-font-size-base + ($p-font-size-base / 3);
$p-line-height-base-xs:				$p-line-height-base;
$p-line-height-base-sm:				$p-font-size-base-sm + ($p-font-size-base-sm / 3);
$p-line-height-base-md:				$p-font-size-base-md + ($p-font-size-base-md / 3);
$p-line-height-base-lg:				$p-font-size-base-lg + ($p-font-size-base-lg / 4);
$p-line-height-base-xl:				$p-font-size-base-xl + ($p-font-size-base-xl / 4);

$p-margin-top:						$p-font-size-base;
$p-margin-top-xs:					$p-font-size-base-xs;
$p-margin-top-sm:					$p-font-size-base-sm;
$p-margin-top-md:					$p-font-size-base-md;
$p-margin-top-lg:					$p-font-size-base-lg;
$p-margin-top-xl:					$p-font-size-base-xl;

$p-margin-bottom:					$p-font-size-base;
$p-margin-bottom-xs:					$p-font-size-base-xs;
$p-margin-bottom-sm:					$p-font-size-base-sm;
$p-margin-bottom-md:					$p-font-size-base-md;
$p-margin-bottom-lg:					$p-font-size-base-lg;
$p-margin-bottom-xl:					$p-font-size-base-xl;

$p-padding-top:						$p-font-size-base;
$p-padding-top-xs:					$p-font-size-base-xs;
$p-padding-top-sm:					$p-font-size-base-sm;
$p-padding-top-md:					$p-font-size-base-md;
$p-padding-top-lg:					$p-font-size-base-lg;
$p-padding-top-xl:					$p-font-size-base-xl;

$p-padding-bottom:					$p-font-size-base;
$p-padding-bottom-xs:				$p-font-size-base-xs;
$p-padding-bottom-sm:				$p-font-size-base-sm;
$p-padding-bottom-md:				$p-font-size-base-md;
$p-padding-bottom-lg:				$p-font-size-base-lg;
$p-padding-bottom-xl:				$p-font-size-base-xl;

$p-font-weight:						normal;

// mp name text sizes

$mp-text-font-size-base:					16px;
$mp-text-font-size-base-xs:				$mp-text-font-size-base;
$mp-text-font-size-base-sm:				16px;
$mp-text-font-size-base-md:				18px;
$mp-text-font-size-base-lg:				20px;
$mp-text-font-size-base-xl:				20px;

$mp-text-line-height-base:				$mp-text-font-size-base + ($mp-text-font-size-base / 3);
$mp-text-line-height-base-xs:				$mp-text-line-height-base;
$mp-text-line-height-base-sm:				$mp-text-font-size-base-sm + ($mp-text-font-size-base-sm / 3);
$mp-text-line-height-base-md:				$mp-text-font-size-base-md + ($mp-text-font-size-base-md / 3);
$mp-text-line-height-base-lg:				$mp-text-font-size-base-lg + ($mp-text-font-size-base-lg / 4);
$mp-text-line-height-base-xl:				$mp-text-font-size-base-xl + ($mp-text-font-size-base-xl / 4);

$mp-text-margin-top:						$mp-text-font-size-base;
$mp-text-margin-top-xs:					$mp-text-font-size-base-xs;
$mp-text-margin-top-sm:					$mp-text-font-size-base-sm;
$mp-text-margin-top-md:					$mp-text-font-size-base-md;
$mp-text-margin-top-lg:					$mp-text-font-size-base-lg;
$mp-text-margin-top-xl:					$mp-text-font-size-base-xl;

$mp-text-margin-bottom:					$mp-text-font-size-base;
$mp-text-margin-bottom-xs:				$mp-text-font-size-base-xs;
$mp-text-margin-bottom-sm:				$mp-text-font-size-base-sm;
$mp-text-margin-bottom-md:				$mp-text-font-size-base-md;
$mp-text-margin-bottom-lg:				$mp-text-font-size-base-lg;
$mp-text-margin-bottom-xl:				$mp-text-font-size-base-xl;

$mp-text-padding-top:					$mp-text-font-size-base;
$mp-text-padding-top-xs:					$mp-text-font-size-base-xs;
$mp-text-padding-top-sm:					$mp-text-font-size-base-sm;
$mp-text-padding-top-md:					$mp-text-font-size-base-md;
$mp-text-padding-top-lg:					$mp-text-font-size-base-lg;
$mp-text-padding-top-xl:					$mp-text-font-size-base-xl;

$mp-text-padding-bottom:					$mp-text-font-size-base;
$mp-text-padding-bottom-xs:				$mp-text-font-size-base-xs;
$mp-text-padding-bottom-sm:				$mp-text-font-size-base-sm;
$mp-text-padding-bottom-md:				$mp-text-font-size-base-md;
$mp-text-padding-bottom-lg:				$mp-text-font-size-base-lg;
$mp-text-padding-bottom-xl:				$mp-text-font-size-base-xl;

$mp-text-font-weight:					bold;

// H1 TEXT SIZES & SPACING

$h1-font-size-base:					$p-font-size-base * 1.5;
$h1-font-size-base-xs:				$h1-font-size-base;
$h1-font-size-base-sm:				$p-font-size-base-sm * 1.5;
$h1-font-size-base-md:				$p-font-size-base-md * 1.5;
$h1-font-size-base-lg:				$p-font-size-base-lg * 1.5;
$h1-font-size-base-xl:				$p-font-size-base-xl * 1.5;

$h1-line-height-base:				$h1-font-size-base * 0.9;
$h1-line-height-base-xs:				$h1-line-height-base;
$h1-line-height-base-sm:				$h1-font-size-base-sm;
$h1-line-height-base-md:				$h1-font-size-base-md;
$h1-line-height-base-lg:				$h1-font-size-base-lg;
$h1-line-height-base-xl:				$h1-font-size-base-xl;

$h1-padding-top:						$h1-font-size-base;
$h1-padding-top-xs:					$h1-font-size-base-xs;
$h1-padding-top-sm:					$h1-font-size-base-sm;
$h1-padding-top-md:					$h1-font-size-base-md;
$h1-padding-top-lg:					$h1-font-size-base-lg;
$h1-padding-top-xl:					$h1-font-size-base-xl;

$h1-padding-bottom:					$h1-font-size-base;
$h1-padding-bottom-xs:				$h1-font-size-base-xs;
$h1-padding-bottom-sm:				$h1-font-size-base-sm;
$h1-padding-bottom-md:				$h1-font-size-base-md;
$h1-padding-bottom-lg:				$h1-font-size-base-lg;
$h1-padding-bottom-xl:				$h1-font-size-base-xl;

$h1-font-weight:						bold;
$h1-font-style:						normal;
$h1-text-align:						left;
$h1-text-decoration:					none;
$h1-text-transform:					none;

// h2 TEXT SIZES & SPACING

$h2-font-size-base:					$p-font-size-base + 5px;
$h2-font-size-base-xs:				$h2-font-size-base;
$h2-font-size-base-sm:				$p-font-size-base-sm + 10px;
$h2-font-size-base-md:				$p-font-size-base-md + 10px;
$h2-font-size-base-lg:				$p-font-size-base-lg + 10px;
$h2-font-size-base-xl:				$p-font-size-base-xl + 10px;

$h2-line-height-base:				$h2-font-size-base + ($h2-font-size-base / 4);
$h2-line-height-base-xs:				$h2-line-height-base;
$h2-line-height-base-sm:				$h2-font-size-base-sm + ($h2-font-size-base-sm / 4);
$h2-line-height-base-md:				$h2-font-size-base-md + ($h2-font-size-base-md / 4);
$h2-line-height-base-lg:				$h2-font-size-base-lg + ($h2-font-size-base-lg / 4);
$h2-line-height-base-xl:				$h2-font-size-base-xl + ($h2-font-size-base-xl / 4);

$h2-padding-top:						$h2-font-size-base / 2;
$h2-padding-top-xs:					$h2-font-size-base-xs / 2;
$h2-padding-top-sm:					$h2-font-size-base-sm / 2;
$h2-padding-top-md:					$h2-font-size-base-md / 2;
$h2-padding-top-lg:					$h2-font-size-base-lg / 2;
$h2-padding-top-xl:					$h2-font-size-base-xl / 2;

$h2-padding-bottom:					$h2-font-size-base / 2;
$h2-padding-bottom-xs:				$h2-font-size-base-xs / 2;
$h2-padding-bottom-sm:				$h2-font-size-base-sm / 2;
$h2-padding-bottom-md:				$h2-font-size-base-md / 2;
$h2-padding-bottom-lg:				$h2-font-size-base-lg / 2;
$h2-padding-bottom-xl:				$h2-font-size-base-xl / 2;

$h2-font-weight:						bold;
$h2-font-style:						normal;
$h2-text-align:						center;
$h2-text-decoration:					none;
$h2-text-transform:					none;



// BREAKPOINT VALUES

$xs: 	 							0;
$sm: 	 							600px;
$md: 	 							768px;
$lg: 	 							1000px;
$xl: 	 							1200px;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-xs: 	 					320px;
$container-sm: 	 					560px;
$container-md: 	 					600px;
$container-lg: 	 					800px;
$container-xl: 	 					900px;

$container-padding: 	 				20px;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      		"Transport", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Roboto, "Segoe UI", Arial, sans-serif !default;
$font-family-monospace:       		SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            		$font-family-sans-serif !default;

$font-feature-settings:				"ss02", "tnum", "liga", "zero", "kern";
$sup-font-feature-settings:			"ss02", "tnum", "liga", "zero", "kern", "frac";