// Mixins

// Animations

/* Animation Keyframes*/

@mixin keyframes($name) {
	@keyframes #{$name} {
		@content
	}

	@-moz-keyframes #{$name} {
		@content
	}

	@-webkit-keyframes #{$name} {
		@content
	}

	@-o-keyframes #{$name} {
		@content
	}
}

@mixin animation($variables) {
	animation: 			$variables;
	-moz-animation: 	$variables;
	-webkit-animation: 	$variables;
	-o-animation: 		$variables;
}