@mixin toggleDarkMode($attribute, $light, $dark) {
	#{$attribute}: $light;
	@media (prefers-color-scheme: dark) {
		#{$attribute}: $dark;	
	}
}

@mixin dark-mode {
	@media (prefers-color-scheme: dark) {
		@content;
	}
}