//	SASS VARIABLES
//	All variables should go in this file

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// BREAKPOINTS AND CONTAINER SIZING
//

// Breakpoints
$breakpoints: (
    "xs": 0,
    "sm": 767px,
    "md": 1024px,
    "lg": 1360px,
    "xl": 1920px
);

$containers: (
    "xs":    300px,
    "sm":    600px,
    "md":    600px,
    "lg":    800px,
    "xl":    1000px
);

$container-padding: 	 			15px;

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// FONTS

// Font face
$font-family: "custom", -apple-system, "Helvetica Neue", Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Feature settings
$font-feature-settings:				"tnum", "liga", "zero", "kern";
$sup-font-feature-settings:			"tnum", "liga", "zero", "kern", "frac";

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// COLOURS

// PALETTE
// All colours used should be referenced here

$colors: (

    "black": #000000,
    "westminster-white": #ebe9e8,
    "westminster-white-90": #f6f5f5,

    "deep-purple": #373151,
    "deep-purple--light": #625a75,
    "purple": #5c2db4,
    "purple--dark": #3e1d78,
    "purple--light": #e7dff4,
    "mint": #96dcbe,
    "mint--dark": #6ec29e,
    "mint--light": #dff4eb,
    "commons": #006e46,
    "commons--dark": #004229,
    "lords": #b50938,
    "grey-1": #4d4d4d,
    "grey-2": #717171,
    "grey-3": #cbc9cd,
    "grey-4": #ebe9e8,
    "grey-5": #f8f7f7,
    "white": #ffffff,

    "link": #2b57ab,
    "link-hover": #7592c8,
    "link-visited": #7c1389,
    "button": #2b57ab,
    "button-hover": #214282,
    "success": #00b95d,
    "success--dark": #009049,
    "success-light": #bfedd6,
    "caution": #fbcf19,
    "caution--dark": #e0b507,
    "caution--light": #fef3c7,
    "warning": #de2e32,
    "warning--dark": #a72326,
    "warning-light": #f7cbcc,

    "dark-purple": #373151,
    "dark-purple-90": #4d4564,
    "dark-purple-80": #625a75,
    "dark-purple-70": #777285,
    "dark-purple-60": #8b8697,
    "dark-purple-50": #a09ca9,
    "dark-purple-40": #b6b2bb,
    "dark-purple-30": #cbc9cd,
    "dark-purple-20": #e2e0e1,

    "deep-bright-purple": #3e1d78,
    "dark-bright-purple": #4c238f,
    "bright-purple": #5f2db4,
    "bright-purple-85": #774cbe,
    "bright-purple-70": #8e6cca,
    "bright-purple-60": #9e80d1,
    "bright-purple-50": #ae95d8,
    "bright-purple-40": #beaae0,
    "bright-purple-30": #cebfe8,
    "bright-purple-20": #ded4ef,
    "bright-purple-10": #e7dff4,

    "deep-mint": #519c7c,
    "dark-mint": #6ec29e,
    "mint-100": #96dcbe,
    "mint-85": #a6e1c8,
    "mint-70": #b5e6d1,
    "mint-60": #c0ead8,
    "mint-50": #caedde,
    "mint-40": #d5f1e5,
    "mint-30": #dff4eb,
    "mint-20": #eaf8f2,
    "mint-10": #f4fbf8,

    "vibrant-yellow": #f5ee61,
    "vibrant-ochre": #fbcf20,
    "vibrant-orange": #ff7200,
    "vibrant-red": #de2e32,
    "vibrant-magenta": #ff48a6,
    "vibrant-purple": #b81cdd,
    "vibrant-indigo": #4541e6,
    "vibrant-blue": #0a78ff,
    "vibrant-teal": #46cfdb,
    "vibrant-green": #00ba5d,
    "vibrant-light-green": #98d94d,
    "vibrant-lime": #d2f05a,

    "rich-light-ochre": #f0e4bb,
    "rich-olive-green": #777d1a,
    "rich-burnt-orange": #c23d00,
    "rich-dark-red": #8f0028,
    "rich-dark-magenta": #a91a71,
    "rich-plum": #7c1389,
    "rich-dark-indigo": #353375,
    "rich-dark-blue": #2b57ab,
    "rich-dark-teal": #335d7d,
    "rich-dark-green": #005434,
    "rich-silver": #a7a9ac,
    "rich-gold": #a39161,

    "commons-green": #006e46,
    "commons-deeper-green": #004229,
    "commons-darker-green": #005434,

    "lords-red": #b50938,

    "alba": #005EB8,
    "conservative": #0087dc,
    "labour": #e41d13,
    "liberal-democrats": #fdbb30,
    "plaid-cymru": #d16d2f,
    "scottish-national-party": #FDF38E,
    "bishops": #57197c,
    "crossbenchers": #007b87,
    "independent": #4d4d4d

);

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// TEXT SIZES

// PARAGRAPH TEXT
// Applies to 'p' and equivalent text
$wordmark: (
    "font-size": (
        "xs": 14pt,
        "sm": 12pt,
        "md": 14pt,
        "lg": 16pt,
        "xl": 18pt
    ),
    "line-height": (
        "xs": 16pt,
        "sm": 16pt,
        "md": 17pt,
        "lg": 19pt,
        "xl": 21pt
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$body: (
    "font-size": (
        "xs": 10pt,
        "sm": 11pt,
        "md": 12pt,
        "lg": 13pt,
        "xl": 13pt
    ),
    "line-height": (
        "xs": 15pt,
        "sm": 16pt,
        "md": 17pt,
        "lg": 18pt,
        "xl": 18pt
    ),
    "padding": (
        "xs": 0 0 8pt 0,
        "sm": 0 0 9pt 0,
        "md": 0 0 10pt 0,
        "lg": 0 0 10pt 0,
        "xl": 0 0 10pt 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$lead: (
    "font-size": (
        "xs": 13pt,
        "sm": 14pt,
        "md": 15pt,
        "lg": 16pt,
        "xl": 18pt
    ),
    "line-height": (
        "xs": 20pt,
        "sm": 21pt,
        "md": 22pt,
        "lg": 23pt,
        "xl": 25pt
    ),
    "padding": (
        "xs": 0 0 13pt 0,
        "sm": 0 0 14pt 0,
        "md": 0 0 15pt 0,
        "lg": 0 0 16pt 0,
        "xl": 0 0 18pt 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$largeDate: (
    "font-size": (
        "xs": 17pt,
        "sm": 18pt,
        "md": 19pt,
        "lg": 20pt,
        "xl": 22pt
    ),
    "line-height": (
        "xs": 22pt,
        "sm": 23pt,
        "md": 24pt,
        "lg": 25pt,
        "xl": 27pt
    ),
    "padding": (
        "xs": 5pt 0 0 0,
        "sm": 6pt 0 0 0,
        "md": 7pt 0 0 0,
        "lg": 8pt 0 0 0,
        "xl": 10pt 0 0 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

// TITLES

$title1LargeTitle: (
    "font-size": (
        "xs": 30pt,
        "sm": 30pt,
        "md": 34pt,
        "lg": 40pt,
        "xl": 48pt
    ),
    "line-height": (
        "xs": 36pt,
        "sm": 36pt,
        "md": 40pt,
        "lg": 48pt,
        "xl": 54pt
    ),
    "padding": (
        "xs": 30pt 0 5pt,
        "sm": 33pt 0 6pt,
        "md": 34pt 0 7pt,
        "lg": 36pt 0 8pt,
        "xl": 40pt 0 10pt
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$title1: (
    "font-size": (
        "xs": 25pt,
        "sm": 26pt,
        "md": 27pt,
        "lg": 28pt,
        "xl": 30pt
    ),
    "line-height": (
        "xs": 31pt,
        "sm": 32pt,
        "md": 33pt,
        "lg": 34pt,
        "xl": 36pt
    ),
    "padding": (
        "xs": 30pt 0 25pt 0,
        "sm": 32pt 0 26pt 0,
        "md": 34pt 0 27pt 0,
        "lg": 36pt 0 28pt 0,
        "xl": 40pt 0 30pt 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$title2LargeTitle: (
    "font-size": (
        "xs": 25pt,
        "sm": 26pt,
        "md": 27pt,
        "lg": 28pt,
        "xl": 30pt
    ),
    "line-height": (
        "xs": 31pt,
        "sm": 32pt,
        "md": 33pt,
        "lg": 34pt,
        "xl": 36pt
    ),
    "padding": (
        "xs": 50pt 0 25pt 0,
        "sm": 52pt 0 26pt 0,
        "md": 54pt 0 27pt 0,
        "lg": 56pt 0 28pt 0,
        "xl": 60pt 0 30pt 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$title2: (
    "font-size": (
        "xs": 22pt,
        "sm": 23pt,
        "md": 24pt,
        "lg": 25pt,
        "xl": 27pt
    ),
    "line-height": (
        "xs": 28pt,
        "sm": 29pt,
        "md": 30pt,
        "lg": 31pt,
        "xl": 33pt
    ),
    "padding": (
        "xs": 40pt 0 0 0,
        "sm": 42pt 0 0 0,
        "md": 44pt 0 0 0,
        "lg": 46pt 0 0 0,
        "xl": 50pt 0 0 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$title3: (
    "font-size": (
        "xs": 12pt,
        "sm": 13pt,
        "md": 14pt,
        "lg": 15pt,
        "xl": 17pt
    ),
    "line-height": (
        "xs": 15pt,
        "sm": 16pt,
        "md": 17pt,
        "lg": 18pt,
        "xl": 20pt
    ),
    "padding": (
        "xs": 24pt 0 12pt 0,
        "sm": 26pt 0 13pt 0,
        "md": 28pt 0 14pt 0,
        "lg": 30pt 0 15pt 0,
        "xl": 34pt 0 17pt 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    )
);

$largeNumber: (
    "font-size": (
        "xs": 45pt,
        "sm": 45pt,
        "md": 45pt,
        "lg": 54pt,
        "xl": 57pt
    ),
    "line-height": (
        "xs": 45pt,
        "sm": 45pt,
        "md": 45pt,
        "lg": 54pt,
        "xl": 57pt
    ),
    "padding": (
        "xs": 0pt 0 0,
        "sm": 15pt 0 0 0,
        "md": 15pt 0 0 0,
        "lg": 20pt 0 0 0,
        "xl": 20pt 0 0 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);
$label: (
    "font-size": (
        "xs": 13pt,
        "sm": 13pt,
        "md": 14pt,
        "lg": 16pt,
        "xl": 18pt
    ),
    "line-height": (
        "xs": 13pt,
        "sm": 13pt,
        "md": 14pt,
        "lg": 16pt,
        "xl": 18pt
    ),
    "padding": (
        "xs": 0,
        "sm": 0,
        "md": 0,
        "lg": 0,
        "xl": 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$partyName: (
    "font-size": (
        "xs": 13pt,
        "sm": 16pt,
        "md": 18pt,
        "lg": 20pt,
        "xl": 24pt
    ),
    "line-height": (
        "xs": 18pt,
        "sm": 21pt,
        "md": 22pt,
        "lg": 25pt,
        "xl": 27pt
    ),
    "padding": (
        "xs": 0,
        "sm": 2pt 0,
        "md": 2pt 0,
        "lg": 2pt 0,
        "xl": 2pt 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    )
);
$partyTotal: (
    "font-size": (
        "xs": 11pt,
        "sm": 13pt,
        "md": 15pt,
        "lg": 16pt,
        "xl": 18pt
    ),
    "line-height": (
        "xs": 18pt,
        "sm": 21pt,
        "md": 22pt,
        "lg": 23pt,
        "xl": 25pt
    ),
    "padding": (
        "xs": 0 0 0 0,
        "sm": 2pt 0 0 0,
        "md": 2pt 0 0 0,
        "lg": 2pt 0 0 0,
        "xl": 2pt 0 0 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    )
);
$memberName: (
    "font-size": (
        "xs": 11pt,
        "sm": 14pt,
        "md": 16pt,
        "lg": 18pt,
        "xl": 20pt
    ),
    "line-height": (
        "xs": 15pt,
        "sm": 18pt,
        "md": 20pt,
        "lg": 25pt,
        "xl": 25pt
    ),
    "padding": (
        "xs": 0 0 0 0,
        "sm": 2pt 0 0 0,
        "md": 2pt 0 0 0,
        "lg": 2pt 0 0 0,
        "xl": 2pt 0 0 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    )
);
$memberConstituency: (
    "font-size": (
        "xs": 10pt,
        "sm": 12pt,
        "md": 13pt,
        "lg": 14pt,
        "xl": 16pt
    ),
    "line-height": (
        "xs": 15pt,
        "sm": 17pt,
        "md": 18pt,
        "lg": 19pt,
        "xl": 21pt
    ),
    "padding": (
        "xs": 0 0 0 0,
        "sm": 2pt 0 0 0,
        "md": 2pt 0 0 0,
        "lg": 2pt 0 0 0,
        "xl": 2pt 0 0 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    )
);

// Other styles
$font-style-h1:			normal;
$text-align--h1:		left;
$text-decoration--h1:	none;
$text-transform--h1:	none;

// Other styles
$font-style-h2:			normal;
$text-align--h2:		center;
$text-decoration--h2:	none;
$text-transform--h2:	none;

// Other styles
$font-style-h3:			normal;
$text-align--h3:		left;
$text-decoration--h3:	none;
$text-transform--h3:	none;

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// FORM ELEMENTS

$touch-target-size:                 44px;

$input-size:                       	40px;
$border-width-form-element:         3px;
$border-focus-width:                1px;
$input-padding:                     5px;

$radios-size:                       40px;
$radios-label-padding-left-right:   20px;