// FONTS

// Font face
$font-family: "custom", -apple-system, "Helvetica Neue", Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Feature settings
$font-feature-settings:				"tnum", "liga", "zero", "kern";
$sup-font-feature-settings:			"tnum", "liga", "zero", "kern", "frac";

// --------------------------------------//
// --------------------------------------//
// --------------------------------------//

// TEXT SIZES

// PARAGRAPH TEXT
// Applies to 'p' and equivalent text
$wordmark: (
    "font-size": (
        "xs": 11pt,
        "sm": 11pt,
        "md": 13pt,
        "lg": 14pt,
        "xl": 16pt
    ),
    "line-height": (
        "xs": 16pt,
        "sm": 16pt,
        "md": 17pt,
        "lg": 19pt,
        "xl": 21pt
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$body: (
    "font-size": (
        "xs": 12pt,
        "sm": 12pt,
        "md": 13pt,
        "lg": 14pt,
        "xl": 15pt
    ),
    "line-height": (
        "xs": 15pt,
        "sm": 16pt,
        "md": 17pt,
        "lg": 18pt,
        "xl": 18pt
    ),
    "padding": (
        "xs": 0 0 8pt 0,
        "sm": 0 0 9pt 0,
        "md": 0 0 10pt 0,
        "lg": 0 0 10pt 0,
        "xl": 0 0 10pt 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$lead: (
    "font-size": (
        "xs": 13pt,
        "sm": 14pt,
        "md": 15pt,
        "lg": 16pt,
        "xl": 18pt
    ),
    "line-height": (
        "xs": 20pt,
        "sm": 21pt,
        "md": 22pt,
        "lg": 23pt,
        "xl": 25pt
    ),
    "padding": (
        "xs": 0 0 13pt 0,
        "sm": 0 0 14pt 0,
        "md": 0 0 15pt 0,
        "lg": 0 0 16pt 0,
        "xl": 0 0 18pt 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);
$note: (
    "font-size": (
        "xs": 10pt,
        "sm": 11pt,
        "md": 12pt,
        "lg": 13pt,
        "xl": 13pt
    ),
    "line-height": (
        "xs": 15pt,
        "sm": 16pt,
        "md": 17pt,
        "lg": 18pt,
        "xl": 18pt
    ),
    "margin": (
        "xs": 13pt 0 0 0,
        "sm": 14pt 0 0 0,
        "md": 15pt 0 0 0,
        "lg": 16pt 0 0 0,
        "xl": 18pt 0 0 0
    ),
    "padding": (
        "xs": 13pt 0 6pt 0,
        "sm": 14pt 0 7pt 0,
        "md": 15pt 0 8pt 0,
        "lg": 16pt 0 8pt 0,
        "xl": 18pt 0 9pt 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$largeDate: (
    "font-size": (
        "xs": 17pt,
        "sm": 18pt,
        "md": 19pt,
        "lg": 20pt,
        "xl": 22pt
    ),
    "line-height": (
        "xs": 22pt,
        "sm": 23pt,
        "md": 24pt,
        "lg": 25pt,
        "xl": 27pt
    ),
    "padding": (
        "xs": 5pt 0 0 0,
        "sm": 6pt 0 0 0,
        "md": 7pt 0 0 0,
        "lg": 8pt 0 0 0,
        "xl": 10pt 0 0 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

// TITLES

$title1LargeTitle: (
    "font-size": (
        "xs": 20pt,
        "sm": 30pt,
        "md": 34pt,
        "lg": 40pt,
        "xl": 48pt
    ),
    "line-height": (
        "xs": 30pt,
        "sm": 36pt,
        "md": 40pt,
        "lg": 48pt,
        "xl": 54pt
    ),
    "padding": (
        "xs": 24pt 0,
        "sm": 33pt 0,
        "md": 34pt 0,
        "lg": 36pt 0,
        "xl": 40pt 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$title1: (
    "font-size": (
        "xs": 20pt,
        "sm": 26pt,
        "md": 27pt,
        "lg": 28pt,
        "xl": 30pt
    ),
    "line-height": (
        "xs": 31pt,
        "sm": 32pt,
        "md": 33pt,
        "lg": 34pt,
        "xl": 36pt
    ),
    "padding": (
        "xs": 30pt 0 25pt 0,
        "sm": 30pt 0 26pt 0,
        "md": 45pt 0 27pt 0,
        "lg": 45pt 0 28pt 0,
        "xl": 50pt 0 30pt 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$title2LargeTitle: (
    "font-size": (
        "xs": 25pt,
        "sm": 26pt,
        "md": 27pt,
        "lg": 28pt,
        "xl": 30pt
    ),
    "line-height": (
        "xs": 31pt,
        "sm": 32pt,
        "md": 33pt,
        "lg": 34pt,
        "xl": 36pt
    ),
    "padding": (
        "xs": 50pt 0 25pt 0,
        "sm": 52pt 0 26pt 0,
        "md": 54pt 0 27pt 0,
        "lg": 56pt 0 28pt 0,
        "xl": 60pt 0 30pt 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$title2: (
    "font-size": (
        "xs": 22pt,
        "sm": 23pt,
        "md": 24pt,
        "lg": 25pt,
        "xl": 27pt
    ),
    "line-height": (
        "xs": 28pt,
        "sm": 29pt,
        "md": 30pt,
        "lg": 31pt,
        "xl": 33pt
    ),
    "padding": (
        "xs": 40pt 0 20pt 0,
        "sm": 42pt 0 21pt 0,
        "md": 44pt 0 22pt 0,
        "lg": 46pt 0 23pt 0,
        "xl": 50pt 0 25pt 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$title3: (
    "font-size": (
        "xs": 12pt,
        "sm": 13pt,
        "md": 14pt,
        "lg": 15pt,
        "xl": 17pt
    ),
    "line-height": (
        "xs": 15pt,
        "sm": 16pt,
        "md": 17pt,
        "lg": 18pt,
        "xl": 20pt
    ),
    "padding": (
        "xs": 24pt 0 12pt 0,
        "sm": 26pt 0 13pt 0,
        "md": 28pt 0 14pt 0,
        "lg": 30pt 0 15pt 0,
        "xl": 34pt 0 17pt 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    )
);
$title4: (
    "font-size": (
        "xs": 10pt,
        "sm": 11pt,
        "md": 12pt,
        "lg": 13pt,
        "xl": 13pt
    ),
    "line-height": (
        "xs": 15pt,
        "sm": 16pt,
        "md": 17pt,
        "lg": 18pt,
        "xl": 18pt
    ),
    "padding": (
        "xs": 10pt 0 8pt 0,
        "sm": 11pt 0 9pt 0,
        "md": 12pt 0 10pt 0,
        "lg": 13pt 0 10pt 0,
        "xl": 13pt 0 10pt 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$largeNumber: (
    "font-size": (
        "xs": 50pt,
        "sm": 50pt,
        "md": 50pt,
        "lg": 60pt,
        "xl": 70pt
    ),
    "line-height": (
        "xs": 50pt,
        "sm": 50pt,
        "md": 50pt,
        "lg": 60pt,
        "xl": 70pt
    ),
    "padding": (
        "xs": 0pt 0 0,
        "sm": 15pt 0 0 0,
        "md": 15pt 0 0 0,
        "lg": 20pt 0 0 0,
        "xl": 20pt 0 0 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);
$label: (
    "font-size": (
        "xs": 13pt,
        "sm": 13pt,
        "md": 14pt,
        "lg": 18pt,
        "xl": 22pt
    ),
    "line-height": (
        "xs": 13pt,
        "sm": 13pt,
        "md": 14pt,
        "lg": 18pt,
        "xl": 22pt
    ),
    "padding": (
        "xs": 0,
        "sm": 0,
        "md": 0,
        "lg": 0,
        "xl": 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-transform":  (
        "xs": none,
        "sm": none,
        "md": none,
        "lg": none,
        "xl": none
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    ),
);

$partyName: (
    "font-size": (
        "xs": 13pt,
        "sm": 16pt,
        "md": 18pt,
        "lg": 20pt,
        "xl": 24pt
    ),
    "line-height": (
        "xs": 18pt,
        "sm": 21pt,
        "md": 22pt,
        "lg": 25pt,
        "xl": 27pt
    ),
    "padding": (
        "xs": 0,
        "sm": 2pt 0,
        "md": 2pt 0,
        "lg": 2pt 0,
        "xl": 2pt 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    )
);
$partyTotal: (
    "font-size": (
        "xs": 11pt,
        "sm": 13pt,
        "md": 15pt,
        "lg": 16pt,
        "xl": 18pt
    ),
    "line-height": (
        "xs": 18pt,
        "sm": 21pt,
        "md": 22pt,
        "lg": 23pt,
        "xl": 25pt
    ),
    "padding": (
        "xs": 0 0 0 0,
        "sm": 2pt 0 0 0,
        "md": 2pt 0 0 0,
        "lg": 2pt 0 0 0,
        "xl": 2pt 0 0 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    )
);
$memberName: (
    "font-size": (
        "xs": 11pt,
        "sm": 14pt,
        "md": 16pt,
        "lg": 18pt,
        "xl": 20pt
    ),
    "line-height": (
        "xs": 15pt,
        "sm": 18pt,
        "md": 20pt,
        "lg": 25pt,
        "xl": 25pt
    ),
    "padding": (
        "xs": 0 0 0 0,
        "sm": 2pt 0 0 0,
        "md": 2pt 0 0 0,
        "lg": 2pt 0 0 0,
        "xl": 2pt 0 0 0
    ),
    "font-weight":  (
        "xs": bold,
        "sm": bold,
        "md": bold,
        "lg": bold,
        "xl": bold
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    )
);
$memberConstituency: (
    "font-size": (
        "xs": 10pt,
        "sm": 12pt,
        "md": 13pt,
        "lg": 14pt,
        "xl": 16pt
    ),
    "line-height": (
        "xs": 15pt,
        "sm": 17pt,
        "md": 18pt,
        "lg": 19pt,
        "xl": 21pt
    ),
    "padding": (
        "xs": 0 0 0 0,
        "sm": 2pt 0 0 0,
        "md": 2pt 0 0 0,
        "lg": 2pt 0 0 0,
        "xl": 2pt 0 0 0
    ),
    "font-weight":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "font-style":  (
        "xs": normal,
        "sm": normal,
        "md": normal,
        "lg": normal,
        "xl": normal
    ),
    "text-align":  (
        "xs": left,
        "sm": left,
        "md": left,
        "lg": left,
        "xl": left
    )
);

// Other styles
$font-style-h1:			normal;
$text-align--h1:		left;
$text-decoration--h1:	none;
$text-transform--h1:	none;

// Other styles
$font-style-h2:			normal;
$text-align--h2:		center;
$text-decoration--h2:	none;
$text-transform--h2:	none;

// Other styles
$font-style-h3:			normal;
$text-align--h3:		left;
$text-decoration--h3:	none;
$text-transform--h3:	none;