// FORM ELEMENTS

$touch-target-size:                 44px;

$input-size:                       	40px;
$border-width-form-element:         3px;
$border-focus-width:                1px;
$input-padding:                     5px;

$radios-size:                       40px;
$radios-label-padding-left-right:   20px;