<section class="summary-data">

    <h1>At a glance</h1>

</section>

<section class="party-data">

    <details class="party">

        <summary>
            <div class="party-summary">
                <img src="/assets/images/site/banner-icon.svg" class="party-icon">
                <span class="party-name">Conservative</span>
                <span class="party-total">24 LGBT+ MPs</span>
                <span class="expand-icon"></span>
            </div>
        </summary>

        <section class="party-members">


        </section>

    </details>

    <details class="party">

        <summary>
            <div class="party-summary">
                <img src="/assets/images/site/banner-icon.svg" class="party-icon">
                <span class="party-name">Independent</span>
                <span class="party-total">1 LGBT+ MPs</span>
                <span class="expand-icon"></span>
            </div>
        </summary>

        <section class="party-members">


        </section>

    </details>

    <details class="party">

        <summary>
            <div class="party-summary">
                <img src="/assets/images/site/banner-icon.svg" class="party-icon">
                <span class="party-name">Labour</span>
                <span class="party-total">21 LGBT+ MPs</span>
                <span class="expand-icon"></span>
            </div>
        </summary>

        <section class="party-members">


        </section>

    </details>

    <details class="party">

        <summary>
            <div class="party-summary">
                <img src="/assets/images/site/banner-icon.svg" class="party-icon">
                <span class="party-name">Liberal Democrat</span>
                <span class="party-total">1 LGBT+ MPs</span>
                <span class="expand-icon"></span>
            </div>
        </summary>

        <section class="party-members">


        </section>

    </details>

    <details class="party">

        <summary>
            <div class="party-summary">
                <img src="/assets/images/site/banner-icon.svg" class="party-icon">
                <span class="party-name">Scottish National</span>
                <span class="party-total">10 LGBT+ MPs</span>
                <span class="expand-icon"></span>
            </div>
        </summary>

        <section class="party-members">


        </section>

    </details>

</section>