<aside class="errors container">

    <p><strong>Something wrong or missing?</strong> <a href="/contribute">Suggest an addition, edit or removal from the dataset</a>.</p>

</aside>

<footer>

    <div class="container">

        <p class="footer--heading"><strong>LGBT+ Members<br>of Parliament</strong></h1>

        <ul class="footer--navigation">
            <li><a href="/parliament">Previous parliaments</a></li>
            <li><a href="/contribute">Suggest edits to the dataset</a></li>
            <li><a href="/change-log">Change log</a></li>
        </ul>

        <ul class="footer--other">
            <li><a href="/about">About this site</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/licenses-and-attribution">Licenses and attribution</a></li>
        </ul>

    </div>

</footer>