{% for member in currentMembers %}
{% for history in member.houseMembershipHistory %}
    {% assign house = history.house %}
    {% assign membershipStartDate = history.membershipStartDate | date: "%s" %}
    {% assign membershipEndDate = history.membershipEndDate | date: "%s" %}
        {% if endDate == null and startDate == null %}
            {% if   house == 1 and
                    membershipEndDate == null %}
                    {% for party in member.partyHistory %}
                        {% assign partyEndDate = null %}
                        {% if   partyName == party.party.name and
                                partyEndDate == party.endDate %}
                                {% include "components/member-card.html" %}
                        {% endif %}
                    {% endfor %}
            {% endif %}
        {% elsif parliament.endDate == null %}
            {% assign compareEndDate = null %}
                {% if   house == 1 and
                        compareEndDate == membershipEndDate %}
                        {% for party in member.partyHistory %}
                            {% assign partyStartDate = party.startDate | date: "%s" %}
                            {% assign partyEndDate = party.endDate | date: "%s" %}
                            {% if   partyName == party.party.name and
                                    compareEndDate == partyEndDate %}
                                    {% include "components/member-card.html" %}
                            {% endif %}
                        {% endfor %}
                {% endif %}
        {% elsif endDate == false %}
            {% assign compareStartDate = startDate | date: "%s" %}
            {% if   house == 1 and
                    compareStartDate >= membershipStartDate  and
                    compareStartDate <= membershipEndDate %}
                    {% for party in member.partyHistory %}
                        {% assign partyStartDate = party.startDate | date: "%s" %}
                        {% assign partyEndDate = party.endDate | date: "%s" %}
                        {% if   partyName == party.party.name and
                                compareStartDate >= partyStartDate and
                                compareStartDate <= partyEndDate %}
                                    {% include "components/member-card.html" %}
                        {% endif %}
                    {% endfor %}
            {% endif %}
        {% elsif startDate == false %}
            {% assign compareStartDate = startDate | date: "%s" %}
            {% if   house == 1 and
                    compareEndDate >= membershipStartDate  and
                    compareEndDate <= membershipEndDate %}
                    {% for party in member.partyHistory %}
                        {% assign partyStartDate = party.startDate | date: "%s" %}
                        {% assign partyEndDate = party.endDate | date: "%s" %}
                        {% if   partyName == party.party.name and
                                compareEndDate >= partyStartDate and
                                compareEndDate <= partyEndDate %}
                                    {% include "components/member-card.html" %}
                        {% endif %}
                    {% endfor %}
            {% endif %}
        {% endif %}
{% endfor %}
{% endfor %}