<section id="app-header" {% if page.layout contains == "app" %}class="closed"{% endif %}>
							
	<header class="app-header--logo">
		
		<div class="container">

			<img class="app-header--rainbow-portcullis" src="{{ '/site/logo.svg' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" alt="A rainbow inspired version Parliament's portcullis symbol ">
			<h1 class="app-header--wordmark">{{ site.title }}</h1>
			<p class="app-header--wordmark--subtitle">A dataset of MPs who define as lesbian, gay, bisexual, or trans (LGBT) in the UK House of Commons</p>
						
		</div>
		
	</header>
					
</section>