---
layout: default
---

{% assign formatted-date = page.date | date: "%Y-%m-%d" %}

{% assign count-parties = 0 %}
{% assign total-members = 0 %}

{% for party in site.data.parties %}

	{% assign count-parties = count-parties | plus: 1 %}

  	{% assign count-members = 0 %}

	{% for member in site.data.members %}

		{% if party.party == member.party %}
			{% if member[formatted-date] =="Elected" %}
				{% assign total-members = total-members | plus: 1 %}
				{% assign count-members = count-members | plus: 1 %}
			{% endif %}
		{% endif %}

	{% endfor %}

	{% if count-members > 0 %}
		{% assign count-parties-non-zero = count-parties-non-zero | plus: 1 %}
	{% endif %}

{% endfor %}


<main id="app-main" class="width-{{ count-parties-non-zero }}" class="closed">
		
	{% include app-header.html %}
		
	{% include member-data.html %}
	
</main>