---
layout: default
---


<main id="app">

	<div id="cover" class="page flip-container">

		<div id="content-cover" class="content flipper">

			<div class="front">

				<div id="app-cover">

					<img id="app" src="{{ site.logo-svg | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" alt="LGBT MP">

					<h1>LGBT MP</h1>
					<p>A dataset of <strong>MPs</strong> who define as lesbian, gay, bisexual, or trans <strong>(LGBT)</strong> in the <strong>UK House of Commons</strong></p>
					<p id="shimmer">Tap for more info</p>

				</div>

			</div>

			<div class="back">

				<div id="app-info">

					{{ content }}

					<div id="app-actions">

						<p><a id="btn-share" class="btn btn-block btn-primary">Share this</a></p>
						<p><a id="btn-about" class="btn btn-block btn-primary">About this site</a></p>
						<p><a id="btn-github" class="btn btn-block btn-primary" href="{{ 'https://github.com/johnpeart' | append: site.baseurl | append: '/tree/master/_data' }}">Get data on Github</a></p>

						<a href="{{ site.url }}" title="Created by John Peart - visit my website"><img id="footer" src="{{ site.footer-svg | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></a>

					</div>

				</div>

			</div>

		</div>

	</div>

	{% for party in site.data.parties %}

	{% assign count-members = 0 %}

	{% for member in site.data.members %}

		{% if party.party == member.party %}
			{% if member.[site.election-period] == "Elected" %}
				{% assign count-members = count-members | plus: 1 %}
			{% endif %}
		{% endif %}

	{% endfor %}

	{% if count-members > 0 %}

	<div id="page-{{ party.css }}" class="page">

		<div id="content-{{ party.css }}" class="content">

			<div class="banner">

				<img id="logo-{{ party.css }}" src="{{ party.image | prepend: '/app' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" alt="{{ party.css }} logo">

				<h1 class="party-name">{{ party.party }}</h1>

			</div>

			<div class="totals">

				<p class="total-members">{{ count-members }}</p>

			</div>

			<div class="members">

				<ul>
				{% for member in site.data.members %}

					{% if party.party == member.party %}

						{% if member.[site.election-period] == "Elected" %}

						<li class="flip-container">
							<div class="flipper">
								<div class="front">
									<span class="card-top">{{ member.name }}</span>
									<span class="card-bottom">{{ member.constituency }}</span>
								</div>
								<div class="back">
									<span class="card-top">{{ member.name }}</span>
									<span class="card-bottom">Source: <a href="{{ member.source-link }}" title="Source for {{ member.name }}: visit {{ member.source-description }}">{{ member.source-description }}</a> {{ member.source-date | date: "%d %b %Y" }}</span>
								</div>
							</div>
						</li>

						{% endif %}

					{% endif %}

				{% endfor %}
				</ul>

			</div>

		</div>

	</div>

	{% endif %}

	{% endfor %}

	<div id="page-non-zero" class="page">

	{% for party in site.data.parties %}

	{% assign count-members = 0 %}

	{% for member in site.data.members %}

		{% if party.party == member.party %}
			{% if member.[site.election-period] == "Elected" %}
				{% assign count-members = count-members | plus: 1 %}
			{% endif %}
		{% endif %}

	{% endfor %}

	{% if count-members == 0 %}

		<div id="page-{{ party.css }}" class="stump">

			<div id="content-{{ party.css }}" class="content">

				<div class="banner">

					<img id="logo-{{ party.css }}" src="{{ party.image | prepend: '/app' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" alt="{{ party.css }} logo">

					<h1 class="party-name">{{ party.party }}</h1>

				</div>

				<div class="totals">

					<p class="total-members">{{ count-members }}</p>

				</div>

			</div>

		</div>

	{% endif %}

	{% endfor %}

	</div>

</main>

{% include share-sheet.html %}

{% include about-sheet.html %}