<!DOCTYPE html>
<html lang="en">

  {% include head/head.html %}

  <body id="{{ page.layout | slugify }}"{% if page.theme %} class="theme-{{ page.theme | slugify }}"{% endif %}>

  	{% include global/skiplink.html %}

    {% include global/header.html %}

    <section id="content">

      <main class="container">

        {% include components/banner-mode.html %}

      	{{ content }}

      </main>

      {% include global/footer.html %}

    </section>

    {% include global/analytics.html %}

  </body>

</html>

