<!DOCTYPE html>
<html lang="en">

  {% include head/head.html %}

  <body id="{{ page.layout | slugify }}"{% if page.theme %} class="theme-{{ page.theme | slugify }}"{% endif %}>

  	{% include global/skiplink.html %}

    {% include global/header.html %}

    <section id="content">

      <main class="container">

        {% include components/banner-mode.html %}

      	{{ content }}

      </main>

      <aside class="errors container">

        <p><strong>Something wrong or missing?</strong> Email <a href="mailto:data@whoare.lgbt">data@whoare.lgbt</a> or raise a pull request on <a href="https://github.com/johnpeart/lgbt-mp">Github</a>.</p>

      </aside>

      {% include global/footer.html %}

    </section>

    {% include global/analytics.html %}

  </body>

</html>

