---
layout: default
---

<main id="four-oh-four">

	<div class="container">

		<div class="row">

			<div class="col">

				<img id="app" src="{{ site.logo-four-oh-four | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" alt="Error">

				<h1>Something went wrong</h1>
				<p>Much like a Parliament, this page seems to have dissolved.<br>Sorry about that.</p>

				<p id="shimmer"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Go home</a></p>

			</div>

		</div>

	</div>

</main>

