---
layout: default
---

<main id="home">

	<div id="landing" class="page">

		<div id="content-landing" class="content">

			<img id="app" src="{{ site.logo-four-oh-four | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" alt="Error">

		</div>

		<div id="navgation-landing" class="navigation">

			<div>

			<h1 class="app-name--four-oh-four">Page not found</h1>
			<p class="app-description--four-oh-four">You've arrived somewhere that isn't anywhere at all.<br>Frightfully sorry about that.</p>

			<p class="app-button--four-oh-four"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" class="btn btn-primary">Go home</a></p>

			</div>

		</div>

	</div>

</main>

