---
layout: default
---

<main id="page">
		
	{% include app-header.html %}
	
	<section id="page">
		
		<div class="container">
			
			<h1>Historic data</h1>
			
			<p>Use this page to find the LGBT MPs who were in each Parliament.</p>
			
			<ul>
			{% for parliament in site.parliaments %}
			
				<li>
					<a href="{{ site.url | append: site.baseurl | append: parliament.url }}" title="See data for Parliament {{ parliament.slug }}ing {{ parliament.date | date: "%-d %B %Y" }}">
						<p class="date">
							Parliament {{ parliament.slug }}ing 
							<br>
							<span class="large-date">{{ parliament.date | date: "%-d %B %Y" }}</span>
						</p>
					</a>
				</li>
			
			{% endfor %}
			
				<li>
					<a href="{{ site.url | append: site.baseurl | append: '/' }}" title="See the current data for this Parliament">
						<p class="date">
							This Parliament 
							<br>
							<span class="large-date">Current data</span>
						</p>
					</a>
				</li>
			</ul>
		
		</div>
		
	</section>
			
</main>